<!Doctype html>
<html>
<head>
	<title> Download HD Instagram Images </title>
	<style type="text/css">
		body {
	background: #B1E3E2;
	color: black;
	font-family: 'Avenir', 'helvetica neue', helvetica, arial, sans-serif;
		}
		.container{
			text-align: center;
			margin: 0 auto;
			width: 500px;
			padding-top: 20%;
		}
	</style>
</head>
<body>
	<div class="container">
	<h1>Download Instagram image</h1>
	<form action="" method="POST">
	<input type="url" placeholder="https://instagram.com/" name="url">
	<input type="submit" value="Submit">
	</form>
	
	</div>
</body>
</html>